<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:text="${reviewQueried.getGame().getGameName()}"></title>
	</head>
	<body>
		<main id="container">
			<nav id="header">
				<ol>
				  <li><a href="http://localhost:8080/games">HOME</a></li>
          <li><form id="search-games-by-tag"><label for="game-search-tag-name-input">GAME SEARCH</label>
            <input type="text" id="game-search-tag-name-input" name="tag" />
            <input type="submit" value="submit" form="search-games-by-tag" th:formaction="@{find-game-by-tag-name}" /></form></li>
          <li><form id="search-reviews-by-tag"><label for="review-search-tag-name-input">REVIEW SEARCH</label>
            <input type="text" id="review-search-tag-name-input" name="tag" />
            <input type="submit" value="submit" form="search-reviews-by-tag" th:formaction="@{find-reviews-by-tag}" /></form></li>
				</ol>
				<br />
				<h1 th:text="${reviewQueried.getReviewTitle()}"></h1>
			</nav>
			<article id="main">
				<table id="reviews">
					<tr class="review-caption">
						<td><img th:src="@{'/images/' + ${reviewQueried.getGame().getImageUrl()}}"></td>
						<td colspan="2" th:text="${reviewQueried.getAuthor()}">
						</td>
						<td th:text="${reviewQueried.getReviewTitle()}"></td>
					</tr>
					<tr class="review-body">
						<td colspan="4" th:text="${reviewQueried.getContent()}"></td>
					</tr>
				</table>
			</article>
		</main>

