<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Game Reviews For Those of Sturdy Constitution</title>
		<link href="http://localhost:8080/css/style.css" rel="stylesheet" />
	</head>
	<body>
		<main id="container">
			<nav id="header">
			  <ol>
			    <li><a href="http://localhost:8080/games">HOME</a></li>
                <li><form id="search-games-by-tag"><label for="game-search-tag-name-input">GAME TAG SEARCH</label>
                    <input type="text" id="game-search-tag-name-input" name="tagName" />
                    <input type="submit" value="submit" form="search-games-by-tag" th:formaction="@{find-game-by-tag-name}" /></form></li>
                <li><form id="search-reviews-by-tag"><label for="review-search-tag-name-input">REVIEW TAG SEARCH</label>
                    <input type="text" id="review-search-tag-name-input" name="tag" />
                    <input type="submit" value="submit" form="search-reviews-by-tag" th:formaction="@{find-reviews-by-tag}" /></form></li>
			  </ol>
				<h1>Game Reviews For Those of Sturdy Constitution</h1>
				<h4>!!1!! MOAR !!!1!!1!!! RAGEQUIT !!1!!</h4>
			</nav>
			<article id="main">
				<table id="game-reviews">
					<thead>
						<tr>
							<th colspan="3">Gird Your Loins! Spoilers Abound. The Braying of Salty Dogs Awaits...</th>
						</tr>
					</thead>
					<tbody>
						<tr class="review-entry" th:each="review:${reviewsQueried}">
							<td><a th:href="@{/review(reviewId=${review.id})}" ><img th:src="@{'/images/' + ${review.getGame().imageUrl}}"></img></a></td>
							<td><a th:href="@{/review(reviewId=${review.id})}" th:text="@{'Game Title: '+${review.getGame().getGameName()}}"></a></td>
							<td><a th:href="@{/review(reviewId=${review.id})}" th:text="@{'Review Author: '+${review.getAuthor()}}"></a></td>
						</tr>
					</tbody>
				</table>
			</article>
		</main>

