<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title >The Tags</title>
		<link href="http://localhost:8080/css/style.css" rel="stylesheet" />
	</head>
	<body>
		<nav id="nav-bar">
			<ol>
				<li><a href="http://localhost:8080/games">HOME</a></li>
				<li><form id="search-games-by-tag"><label for="game-search-tag-name-input">GAME SEARCH</label>
            <input type="text" id="game-search-tag-name-input" name="tag" />
            <input type="submit" value="submit" form="search-games-by-tag" th:formaction="@{find-game-by-tag-name}" /></form></li>
				<li><form id="search-reviews-by-tag"><label for="review-search-tag-name-input">REVIEW SEARCH</label>
				    <input type="text" id="review-search-tag-name-input" name="tag" />
				    <input type="submit" value="submit" form="search-reviews-by-tag" th:formaction="@{find-reviews-by-tag}" /></form></li>
				<div id="nav-subbar">
					<ol>
						<li th:each="tag:${tagsQueried}"><a th:href="@{/tag(tagId=${tag.getId()})}" th:text="${tag.getTag()}"></a></li>
					</ol>
				</div>
		</nav>
		<article id="main">
		    <section id="tag-entries" th:each="t:${tagsQueried}">
			    <div class="tag-entry">
				    <span th:text="${t.tag}"></span>
			    </div>
		    </section>
		</article>
