:root{
  font-size: calc(12px + 1.15vmin);
}

#container {
  width: 1200px;
  max-width: 95%;
  margin: 0 auto;
}

#nav-bar {
  -webkit-box-shadow: inset 7px rgba(1, 70, 127, 0.75);
  -mox-box-shadow: inset 7px rgba(1, 70, 127, 0.75);
  box-shadow: inset 7px rgba(1, 70, 127, 0.75);
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  /* 1, 70, 127*/
}
#nav-bar ol, #nav-bar ul {
  list-style-type: none;
  overflow: hidden;
  margin-left: 7px;
  margin-top: 7px;
}
#nav-bar li{
  float: left;
}
#nav-bar li a{
  display: block;
  padding: 16px;
  color: darkslategrey;
}

article {
  font-family: 'Open Sans Condensed', sans-serif; 
}
article a {
  text-decoration: none;
  outline: none;
}
a:link {
  color: rgba(1, 70, 127, 1);
}
a:focus, a:hover {
  color: rgba(1, 70, 127, 0.75);
}

id="search-games-by-tag"
id="game-search-tag-name-input"
id="search-reviews-by-tag"
id="review-search-tag-name-input"
id="container"
id="main"
class="game-entry"
id="game-table"
          id="game-reviews"
      id="remove-game"
    id="container"
      id="header"
id="search-games-by-tag"
            id="game-search-tag-name-input"
          id="search-reviews-by-tag"
id="review-search-tag-name-input"
      id="main"
        id="reviews"
          class="review-caption"
          class="review-body"
id="container"
        id="nav-bar"
            id="search-games-by-tag"
              id="game-search-tag-name-input"
            id="search-reviews-by-tag"
              id="review-search-tag-name-input"
              id="nav-subbar"
id="main"
id="add-game"
          id="game-name-input"
          id="game-description-input"
          id="tags-input"
        id="remove-game"
          id="game-name-input-remove"
    id="container">
      id="header"
          id="search-games-by-tag"
          id="game-search-tag-name-input"
          id="search-reviews-by-tag"
            id="review-search-tag-name-input" 
            id="main"
        id="reviews-list"
            class="review-entry" 
            id="nav-bar"
       id="search-games-by-tag"
id="game-search-tag-name-input"
    id="search-reviews-by-tag"
    id="review-search-tag-name-input"
    id="nav-subbar"
    id="main"
    id="tag-entries"